body{
    margin:0;
}

.step {
    display: flex;
    width: 50%;
    height: 50%;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid blue;
    border-radius: 15px;
    padding: 2%;
    padding-top: 0;
    font-size: 3vh;
    top: 25%;
    left: 25%;
    align-items: center;
}

h3{
    margin: 0;
    text-align: center;
    font-size: 4vh;
}

nav{
    background-color: blue;
    color: aliceblue;
    font-size: 5vh;
    padding: 1%;
    height: 6vh;
}
nav>image{
    margin-right:20%;
}
nav>span>a{
    color: bisque;
    text-decoration: none;
    transition: all 0.25s;
    padding-left: 3%;
}

nav>span>a:hover{
    color:navy;
}